html {
	background-color: black;
}

.Banner {
	width: 100%;
	background: linear-gradient(to right, #CBB677, #63593A);
	font-size: 5em;
	padding: 16px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
}
#body div {
  
}

#body h1 {
	
	color:white;
	font-size: 3.1em;
	margin-top: 150px;
	margin-bottom: 65px;
	margin-right: 150px;
	margin-left: 80px;
}

#body p {
	color: white;
	font-size: 2.5em;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-right: 150px;
	margin-left: 80px;

}
span[data-href]{
	cursor:pointer;
}